body{
    background-color: rgba(14, 14, 175, 0.911);
    /*background-color:linear-gradient(236.8deg, rgba(7, 40, 223, 0.692) 30%, rgba(0, 0, 0, 0.281));*/
}
.sidebar{
    position: fixed;

    width: 300px;

    top: 0;
    left: 0;
    bottom: 0;

    padding: 12px;
}

.sidebar__navigation{
    background-color: rgba(58, 1, 1, 0.432);
    border-radius: 8px;

    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo{
    /*display: flex;*/

    background: #121212;

    border-radius: 8px;

    padding: 16px 0 0 16px;

}
.logo img{
    width: 80px;

}

.sidebar nav ul{
    
    margin-top: 20px;
    padding: 0 20px 10px 20px;

}
.sidebar nav ul li{
    padding: 10px 0;

}

.sidebar nav ul li a{
    color: #b3b3b3;

    text-decoration: none;

    font-family: "DM sans", sans-serif;
    font-weight: 600;
    font-size: 14xp;

}

/* Sua bibliotca */
.library {
    display: flex;
    justify-content: space-between;

    background-color: #121212;
    color: #b3b3b3;
    
    border-radius: 8px;
    
    min-block-size: 40px;
    margin-top: 10px;
    padding: 4px 8px;

    font-weight: 600;
    font-size: 14px;
    
    flex-direction: column;
}

.library .library__button {
    display: flex;
    
    background-color: transparent;
    color: #b3b3b3;

    border: 0px;

    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
    text-decoration: none;
    text-transform: none;
    
    margin-right: 10px;
    padding: 20px 10px;
}

.library .library__button .fa {
    font-size: 20px;
    font-weight: 300;

    margin-right: 10px;
    padding-right: 8px;
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__content .fa-plus {
   margin: 24px 10px;
}

.section-playlist {

}
.section-plsylist__content{
    
}
