body{
    background-color: rgba(14, 14, 175, 0.911);
    
}
.sidebar{
    position: fixed;

    width: 300px;

    top: 0;
    left: 0;
    bottom: 0;

    padding: 12px;
}

.sidebar__navigation{
    background-color: rgba(58, 1, 1, 0.432);
    border-radius: 8px;

    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo{
    display: flex;

    background: #121212;

    border-radius: 8px;

    padding: 16px 0 0 16px;

}
.logo img{
    width: 80px;

}

.sidebar nav ul{
    
    margin-top: 20px;
    padding: 0 20px 10px 20px;

}
.sidebar nav ul li{
    padding: 10px 0;

}

.sidebar nav ul li a{
    color: #b3b3b3;

    text-decoration: none;

    font-family: "DM sans", sans-serif;
    font-weight: 600;
    font-size: 14xp;

}